<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DreamCast Games</title>
</head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="styles/home.css">

<body>
<!--Navbar-->
<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">
    <a href="{{@BASE}}"><button class="btn btn-outline-success mx-1" type="button">Home</button></a>
    <a href="profile"><button class="btn btn-outline-success mx-1" type="button">Profile</button></a>
    <a href="console"><button class="btn btn-outline-success mx-1" type="button">Consoles</button></a>
    <a href="playstation"><button class="btn btn-outline-success mx-1" type="button">PlayStation</button></a>
    <a href="xbox"><button class="btn btn-outline-success mx-1" type="button">Xbox</button></a>
    <a href="segasaturn"><button class="btn btn-outline-success mx-1" type="button">Sega Saturn</button></a>
    <a href="snes"><button class="btn btn-outline-success mx-1" type="button">SNES</button></a>
    <a href="snes"><button class="btn btn-outline-success mx-1" type="button">Nintendo</button></a>

  </form>
</nav>

<!--Body-->
<!--Banner, Description-->
<div class="jumbotron border border-light">
  <h1 class="text-center">Welcome to G@mer T@gs</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="images/BombermanOnline.jpg" class="game" id="dreamcast" alt="Bomberman">
      <p class="text-white">Bomberman enters the Bomblympics to retain his title as the hero of Planet Bomber. The Bomblympics
        pits its combatants in a series of trials against one another. There seem to be six contestants this year in the Bomlympics,
        with Bomberman being one of them. The contestants must make it inside each of the other contestants' designated bases to set up
        their trials.   </p>
      <p class="text-white">Release Date(s): North America Not Release , EU October 2001, Japan Not Released </p>
    </div>
    <div class="col">
      <img src="images/Centipede_1998_Cover.jpg" class="game" id="dreamcast" alt="Centipede">
      <p class="text-white">The story centers around a collective of villages known as "Weedom," and a prophecy that foretells
        their imminent destruction. Each century, an army of large insects invades Weedom at the hands of their leader,
        the Queen Pede. The player assumes the role of Wally Gudmunzsun, who is tasked with the destruction of the invading
        insect army, while piloting a craft known simply as "The Shooter." </p>
      <p class="text-white">Release Date(s): North America November 1999, EU Not Released, Japan November 1999 </p>
    </div>
    <div class="col">
      <img src="images/Daytona_USA.png" class="game" id="dreamcast" alt="Daytona USA 2001">
      <p class="text-white">Daytona USA 2001 retains three tracks from Daytona USA and two from Daytona USA: Championship
        Circuit Edition, while adding three new and exclusive circuits. All of them can be played in four variants: mirror
        mirror reverse, reverse and normal.Several game modes are available: single race, championship, time trial and 2
        players with split screen. Only four cars can be used at the start, with the possibility of unlocking more as the
        progress is made</p>
      <p class="text-white">Release Date(s): North America May 2001, EU March 2001, Japan December 2000</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="images/DR_rop.jpg" class="game" id="dreamcast" alt="Dragon Rider - Riders of Pern ">
      <p class="text-white">The game takes place on the fictional planet Pern created by science fiction writer Anne McCaffrey
        for her Dragonriders of Pern series of novels. The story, divided into four chapters, follows the dragonrider D'kor who,
        with the help of his dragon Zenth, searches for girls to be candidates for Impressing a new young gold dragon.
        Various side-plots are developed throughout the game including a bit of intrigue involving an epidemic sickness that
        is somewhat reminiscent of the storyline in McCaffrey's novel Moreta: Dragonlady of Pern. The game contains over 120
        locations on three continents.</p>
      <p class="text-white">Release Date(s): North America August 2001, EU February 2002, Japan Not Released </p>
    </div>
    <div class="col">
      <img src="images/EvilDead_htk.png"  class="game" id="dreamcast" alt="Evil Dead - Hail to the King">
      <p class="text-white">The game takes place eight years after the events of Army of Darkness. After regaining his job
        at S-Mart and beginning a new relationship with fellow employee Jenny, Ashley "Ash" Williams begins suffering from
        recurring nightmares about the Necronomicon and the Deadites, which haunt him for years. Wanting to help him, Jenny
        decides to take Ash back to Professor Knowby's old cabin to help him face his demons.</p>
      <p class="text-white">Release Date(s): North America Decemeber 2000, EU June 2001, Japan Not Released </p>
    </div>
    <div class="col">
      <img src="images/Tokyo_Extreme_Racer_Coverart.jpg"  class="game" id="dreamcast" alt="Tokyo Extreme Racer">
      <p class="text-white">is a racing video game for the Sega Dreamcast. Released in 1999 as one of the console's launch
        titles, the game was one of the first mission-based racing games. In the game, players challenge other drivers on
        the Shuto Expressway in order to gain money to modify and enhance their cars. The game features a wide variety of
        Japanese cars and tuning parts to purchase as the player progresses through rivals. </p>
      <p class="text-white">Release Date(s): North America September 1999, EU October 1999, Japan June 1999</p>
    </div>
  </div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>