<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G@mer T@gs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="jumbotron">
        <h1>Welcome to G@mer T@gs</h1>
    </div>

    <p>This is a site developed by gamers for gamers! We want to create a place where gamers can
    come and show off their passion and collection of gaming history! Join the fun and share your
    gamertags to a community with the same passion!</p>
    <br>
    <label>Player 1 join now!</label><a class="btn btn-primary" href="profile" role="button">PRESS START</a>
</div>
</body>
</html>