<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Station 2 Games</title>
</head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="styles/home.css">

<body>
<!--Navbar-->
<nav class="navbar navbar-light bg-dark">
    <form class="form-inline">
        <a href="{{@BASE}}"><button class="btn btn-outline-success mx-1" type="button">Home</button></a>
        <a href="profile"><button class="btn btn-outline-success mx-1" type="button">Profile</button></a>

        <div class="btn-group dropright">
            <button type="button" class="btn btn-outline-success dropdown-toggle mx-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </button>
            <div class="dropdown-menu bg-dark">
                <div class="list-group">
                    <!-- Dropdown menu links -->
                    <a href="snes"><button class="btn btn-outline-success my-1 mx-1" type="button">Super Nintendo</button></a>
                    <a href="playstation"><button class="btn btn-outline-success my-1 mx-1" type="button">PlayStation</button></a>
                    <a href="xbox"><button class="btn btn-outline-success my-1 mx-1" type="button">Xbox</button></a>
                    <a href="segasaturn"><button class="btn btn-outline-success my-1 mx-1" type="button">Sega saturn</button></a>
                    <a href="playstation2"><button class="btn btn-outline-success my-1 mx-1" type="button">PlayStation 2</button></a>
                </div>
            </div>
        </div>
    </form>
</nav>

<!--Banner, Description-->
<div class="jumbotron border border-light">
    <h1 class="text-center">Welcome to G@mer T@gs</h1>
    <hr>
    <h3>Play Station 2 Games</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="images/godofwar.jpeg" class="game" id="playStation2" alt="God of war">
            <p class="text-white">God of War is a video game for the Sony PS2 console released on March 22, 2005. As an
                action-adventure game heavily influenced by Greek mythology, God of War was developed by Sony Computer
                Entertainment's Santa Monica division. It was very well received by critics and fans alike and was the
                recipient of many awards, including "Game of the Year" honors from the Academy of Interactive Arts &
                Sciences. IGN even named God of War the best PlayStation 2 game ever. The game is now available in the
                PlayStation 2's lineup of Greatest Hits. Thanks in part to the critical and commercial success of the
                original, a sequel titled God of War II was released March 13, 2007. In 2007, IGN named God of War as
                the greatest PlayStation 2 game of all time, on their Top 25 PS2 Games list. </p>
            <p class="text-white">Release Date(s): March 22nd 2005</p>
        </div>
        <div class="col">
            <img src="images/gtasanandreas.jpg" class="game" id="playstation2" alt="GTA">
            <p class="text-white">Grand Theft Auto: San Andreas is a 2004 action-adventure game developed by Rockstar
                North and published by Rockstar Games. It is the fifth main entry in the Grand Theft Auto series, following
                2002's Grand Theft Auto: Vice City, and the seventh installment overall. It was released in October 2004
                for the PlayStation 2, in June 2005 for Microsoft Windows and Xbox, and in November 2010 for Mac OS
                X.[2][3] The game is set within an open world environment that players can explore and interact with at
                their leisure. The story follows former gangster Carl "CJ" Johnson, who returns home following his mother's
                murder and is drawn back into his former gang and a life of crime while clashing with corrupt authorities
                and powerful criminals. Carl's journey takes him across the fictional U.S. state of San Andreas, which is
                heavily based on California and Nevada and encompasses three major cities: Los Santos (inspired by
                Los Angeles), San Fierro (San Francisco) and Las Venturas (Las Vegas).[b]</p>
            <p class="text-white">Release Date(s): North America October 26th 2004</p>
        </div>
        <div class="col">
            <img src="images/NBAstreet.png" class="game" id="playstation2" alt="NBA Street Vol. 2">
            <p class="text-white">NBA Street Vol. 2 is a basketball video game, published under the EA Sports BIG label
                and developed by EA Canada. It is the sequel to NBA Street and the second game in the NBA Street series.
                It was released on April 29, 2003 for the PlayStation 2, GameCube, and, for the first time in the series,
                on the Xbox. Japan was only able to see a PlayStation 2 release of this game. The GameCube version was
                also planned to be released in that region, but it was canceled for unknown reasons.</p>
            <p class="text-white">Release Date(s): April 29th 2003</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="images/Burnout.jpg" class="game" id="playstation2" alt="Burnout 3">
            <p class="text-white">Burnout 3: Takedown is a 2004 racing video game developed by Criterion Games and
                published by Electronic Arts. It is the third instalment in the Burnout series, which is characterised
                by fast-paced arcade racing. A staple of the series is the use of boost, earned through risky driving,
                to rapidly increase a car's speed. The central mechanic introduced in Burnout 3 is Takedowns, which allow
                players to slam their opponents until they crash. Takedowns work in conjunction with the boost system by
                filling up and extending the boost meter. Aside from standard circuit races, the game features modes focused
                on performing Takedowns on rival vehicles and causing monetary damage at a junction occupied with traffic.
                Each game variant is featured in a single-player campaign mode called World Tour, which serves as the
                primary method for unlocking new and faster cars. The game supports both online and split-screen
                multiplayer.</p>
            <p class="text-white">Release Date(s): September 8th 2004 </p>
        </div>
        <div class="col">
            <img src="images/TonyHawk.jpg" class="game" id="playstation2" alt="Tony Hawk">
            <p class="text-white">Tony Hawk's Underground is a skateboarding video game and the fifth entry in the Tony
                Hawk's series after Tony Hawk's Pro Skater 4. It was developed by Neversoft and published by Activision
                in 2003 for the GameCube, PlayStation 2, Xbox, and Game Boy Advance. In 2004, it was published for Microsoft
                Windows in Australia and New Zealand as a budget release. Underground is built upon the skateboarding
                formula of previous Tony Hawk's games: the player explores levels and completes goals while performing
                tricks. The game features a new focus on customization; the player, instead of selecting a professional
                skater, creates a custom character. Underground adds the ability for players to dismount their boards
                and explore on foot. The plot follows the player character and their friend Eric Sparrow as the two
                become professionals and grow apart.</p>
            <p class="text-white">Release Date(s): October 27th 2003</p>
        </div>
        <div class="col">
            <img src="images/battlefront2ps2.jpg" class="game" id="playstation2" alt="BattleFront 2">
            <p class="text-white">Star Wars: Battlefront II is a 2005 first-person shooter and third-person shooter
                video game based on the Star Wars film franchise. Developed by Pandemic Studios and published by LucasArts,
                it is a sequel to 2004's Star Wars: Battlefront and the second game in the Star Wars: Battlefront series.
                The game was released in PAL regions on October 31, 2005, on the PlayStation 2, PlayStation Portable (PSP),
                Microsoft Windows, and Xbox platforms, and in North America on November 1 of the same year. It was
                released on the PlayStation Store on October 20, 2009, for download on the PSP. The PSP version was
                developed by Savage Entertainment.</p>
            <p class="text-white">Release Date(s): November 1st 2005 </p>
        </div>
    </div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>