<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/home.css">

    <title>User Profile</title>
</head>

<body>
<!--Navbar-->
<nav class="navbar navbar-light bg-dark">
    <form class="form-inline">
        <a href="{{@BASE}}"><button class="btn btn-outline-success mx-1" type="button">Home</button></a>
        <a href="profile"><button class="btn btn-outline-success mx-1" type="button">Profile</button></a>

        <div class="btn-group dropright">
            <button type="button" class="btn btn-outline-success dropdown-toggle mx-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </button>
            <div class="dropdown-menu bg-dark">
                <div class="list-group">
                    <!-- Dropdown menu links -->
                    <a href="snes"><button class="btn btn-outline-success my-1 mx-1" type="button">Super Nintendo</button></a>
                    <a href="playstation"><button class="btn btn-outline-success my-1 mx-1" type="button">PlayStation</button></a>
                    <a href="xbox"><button class="btn btn-outline-success my-1 mx-1" type="button">Xbox</button></a>
                    <a href="segasaturn"><button class="btn btn-outline-success my-1 mx-1" type="button">Sega saturn</button></a>
                    <a href="playstation2"><button class="btn btn-outline-success my-1 mx-1" type="button">PlayStation 2</button></a>
                </div>
            </div>
        </div>
    </form>
</nav>

<!--Body-->
<div class="jumbotron">
    <h1 class="display-4">Create a G@mer Profile!</h1>
    <p class="lead text-white">Welcome to G@mer T@gs. </p>
    <hr class="my-4">
    <p class="text-white">Let's get started! </p>
    <p class="lead"></p>
</div>
<!--Add in the User info -->
<!--redefine the form action and such for validation -->
<form>

    <!--First name-->
    <div class="form-row text">
        <div class="col-md-4 mt-3 mb-3">
            <label for="fName" class="text-white">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="First Name">

        </div>
        <!--Last name-->
        <div class="col-md-4 mt-3 mb-3">
            <label for="lname" class="text-white">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Last Name">

        </div>
    </div>
    <!--User name-->
    <div class="form-row">
        <div class="col-md-4 mt-3 mb-3">
            <label for="uname" class="text-white">User Name</label>
            <input type="text" class="form-control" id="uname" placeholder="User Name">

        </div>
        <!--Password-->
        <div class="col-md-4 mt-3 mb-3">
            <label for="password" class="text-white">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Password">

        </div>
    </div>

    <!--Avatar image-->
    <!--    <div class="input-group mb-1">-->
    <!--        <div class="input-group-prepend">-->
    <!--            <span class="input-group-text">Upload an Avatar</span>-->
    <!--        </div>-->
    <!--&lt;!&ndash;image upload&ndash;&gt;-->
    <!--        <div class="custom-file">-->
    <!--            <input type="file" class="custom-file-input" id="inputGroupFile01">-->
    <!--            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--Email-->
    <div class="form-row">
        <div class="col-md-4 mt-3 mb-3">
            <label for="email" class="text-white">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">

        </div>
    </div>
    <hr>
    <!--Consoles-->
    <legend class="text-white">Consoles</legend>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="segaSaturn">
        <label class="form-check-label text-white" for="segaSaturn" >Sega Saturn</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="playStation2">
        <label class="form-check-label text-white" for="playStation2">PlayStation 2 </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="nintendo64">
        <label class="form-check-label text-white" for="nintendo64">Nintendo 64 </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="amigaCD32">
        <label class="form-check-label text-white" for="amigaCD32">Amiga CD32 </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="atariJag">
        <label class="form-check-label text-white" for="atariJag">Atari Jaguar </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="sega32x">
        <label class="form-check-label text-white" for="sega32x">Sega 32X </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="nec">
        <label class="form-check-label text-white" for="nec">NEC TurboGrafx-16 </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="snes">
        <label class="form-check-label text-white" for="snes">SNES</label>
    </div>

    <!--Button-->
    <button type="submit" class="btn btn-primary">Save Profile</button>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>