<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SNES Games</title>
</head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="styles/home.css">

<body>
<!--Navbar-->
<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">
    <a href="{{@BASE}}"><button  class="btn btn-outline-success mx-1" type="button">Home</button></a>
    <a href="profile"> <button  class="btn btn-outline-success mx-1" type="button">Profile</button></a>
    <a href="console"> <button  class="btn btn-outline-success mx-1" type="button">Consoles</button></a>
  </form>
</nav>
<!--Body-->
<!--Banner, Description-->
<div class="jumbotron border border-light">
  <h1 class="text-center">Welcome to G@mer T@gs</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="images/arcana.jpg" class="game" id="snes" alt="Arcana box art">
      <p class="text-white">Ten years have passed since the civil war. The young protagonist Rooks is the son of the last
        Card Master to perish during Elemen's civil war, who was also one of the Knights of Lexford. The death of his father
        motivated Rooks to begin learning the art of the cards in earnest, but in a decade his minimal training has barely
        scratched the surface when word comes to his home village of Galia. Mysterious events are occurring all over the
        land, heralding a cataclysm. Rooks' path lies before him as he sets off to prevent the awakening of Rimsala, so
        he must fulfill his destiny as the last Card Master before it is too late. </p>
      <p class="text-white">Release Date(s): NA Jun 1992, EU Not Released, Japan March 1992</p>
    </div>
    <div class="col">
      <img src="images/loz_cover.jpg"  class="game" id="snes" alt="Legend of Zelda: A Link to the Past">
      <p class="text-white">Players assume the role of series protagonist Link, a young man living with his uncle south
        of Hyrule Castle. Princess Zelda, a descendant of the Seven Sages, is held captive in the castle dungeon by Agahnim,
        a treacherous wizard who has set forth a chain of events to release his dark master. Sahasrahla, a descendant of
        those who forged the Master Sword, mentors Link on his quest.[5][10] Series antagonist Ganon remains sealed in the
        Dark World, the former Sacred Realm corrupted by his evil magic. It is revealed late in the game that Agahnim is an
        avatar of Ganon, used by the King of Evil to infiltrate the Light World. </p>
      <p class="text-white">Release Date(s): North America April 1992, EU September 1992, Japan November 1991 </p>
    </div>
    <div class="col">
      <img src="images/SMW_Coverart" class="game" id="snes" alt="Super Mario on Yoshi">
      <p class="text-white">After bringing peace to the Mushroom World in Super Mario Bros. 3, the brothers Mario and Luigi
        decide to go on vacation with Princess Toadstool to a place called Dinosaur Land, a prehistoric-themed world swarming
        with dinosaurs and other enemies. While resting on the beach, Princess Toadstool is captured by Bowser. When Mario
        and Luigi wake up, they try to find her and, after hours of searching, come across a giant egg in the forest. It
        suddenly hatches and out of it comes a young dinosaur named Yoshi, who tells them his dinosaur friends have also
        been imprisoned in eggs by evil Koopalings</p>
      <p class="text-white">Release Date(s): NA August 1991, EU April 1992, Japan November 1990</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="images/Soul_Blazer.jpg" class="game" id="snes" alt="Soul Blazer">
      <p class="text-white">The player frees a series of towns by fighting monsters in traditional dungeon crawl battles.
        Destroying monster lairs in the dungeons causes a soul belonging to a former town occupant to be liberated and reincarnated.
        This is often a human, but it could be anything from a dolphin to a talking tulip. As souls are freed, the town is
        reconstructed around the people. The new town occupants give the player advice and items. When the player defeats the boss
        monster imprisoning the soul of the head of each town, the area is cleared and the player can continue. After the hero frees
        the first six villages, he is granted access to the "World of Evil", where the final villain awaits. </p>
      <p class="text-white">Release Date(s): NA November 1992, EU January 1994, Japan January 1992 </p>
    </div>
    <div class="col">
      <img src="images/kirby_dream" class="game"  id="snes" alt="Kirby's Dreamland 3">
      <p class="text-white">Kirby's Dream Land 3 is a traditional platformer Kirby game; the player controls Kirby, whose
        objective is to get to the end of each stage. Kirby is able to walk, swim, and fly throughout a variety of levels,
        using several of his Animal Friends and Copy Abilities to avoid and defeat obstacles and enemies that lie in his path.
        Kirby's moveset includes the inhale, Star Spit, Air Gun and floating. </p>
      <p class="text-white">Release Date(s): North America December1996, EU Not Released, Japan March 1996 (Gotha II) </p>
    </div>
    <div class="col">
      <img src="images/" id="snes" alt="">
      <p class="text-white"></p>
      <p class="text-white">Release Date(s): NA November 1998, EU Not Released, Japan August 1995</p>
    </div>
  </div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>