<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Summary</title>

    <!--CSS-->
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-light bg-dark">
    <form class="form-inline">
        <a href="{{@BASE}}"><button class="btn btn-outline-success mx-1" type="button">Home</button></a>
        <a href="profile"><button class="btn btn-outline-success mx-1" type="button">Profile</button></a>

        <div class="btn-group dropright">
            <button type="button" class="btn btn-outline-success dropdown-toggle mx-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </button>
            <div class="dropdown-menu bg-dark">
                <div class="list-group">
                    <!-- Dropdown menu links -->
                    <a href="snes"><button class="btn btn-outline-success my-1 mx-1" type="button">Super Nintendo</button></a>
                    <a href="playstation"><button class="btn btn-outline-success my-1 mx-1" type="button">PlayStation</button></a>
                    <a href="xbox"><button class="btn btn-outline-success my-1 mx-1" type="button">Xbox</button></a>
                    <a href="segasaturn"><button class="btn btn-outline-success my-1 mx-1" type="button">Sega saturn</button></a>
                    <a href="playstation2"><button class="btn btn-outline-success my-1 mx-1" type="button">PlayStation 2</button></a>
                </div>
            </div>
        </div>
    </form>
</nav>

<div class="row">
    <div class="col-6">
        <div class="col-md-12">
            <table>
                <tr>
                    <td class="py-2">Name:{{@SESSION.member->getFirstname()}} {{@SESSION.member->getLastname()}}</td>
                </tr>

                <tr>
                    <td class="py-2">Username: {{@SESSION.member->getUsername()}} </td>
                </tr>

                <tr>
                    <td class="py-2">Email: {{@SESSION.member->getEmail()}}</td>
                </tr>

                <tr>
                    <td class="py-2">Consoles: {{@SESSION.member->getConsole()}}</td>
                </tr>
                <tr>
                    <td class="py-2">Consoles: {{@SESSION.member->getAge()}}</td>
                </tr>
                <tr>
                    <td class="py-2">Consoles: {{@SESSION.member->getGamertags()}}</td>
                </tr>

            </table>
        </div>
    </div>




</body>
</html>