<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xbox Games</title>
</head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="styles/home.css">

<body>
<!--Navbar-->
<nav class="navbar navbar-light bg-dark">
    <form class="form-inline">
        <a href="{{@BASE}}"><button class="btn btn-outline-success mx-1" type="button">Home</button></a>
        <a href="profile"><button class="btn btn-outline-success mx-1" type="button">Profile</button></a>
        <a href="console"><button class="btn btn-outline-success mx-1" type="button">Consoles</button></a>
        <a href="playstation"><button class="btn btn-outline-success mx-1" type="button">PlayStation</button></a>
        <a href="xbox"><button class="btn btn-outline-success mx-1" type="button">Xbox</button></a>
        <a href="segasaturn"><button class="btn btn-outline-success mx-1" type="button">Sega saturn</button></a>
        <a href="snes"><button class="btn btn-outline-success mx-1" type="button">Snes</button></a>
        <a href="playstation2"><button class="btn btn-outline-success mx-1" type="button">PlayStation 2</button></a>
    </form>
</nav>
<!--Body-->
<!--Banner, Description-->
<div class="jumbotron border border-light">
    <h1 class="text-center">Welcome to G@mer T@gs</h1>
    <hr>
    <h3>Xbox Games</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="images/RepublicCommando.png" class="game" id="xbox" alt="Starwars Republic Commando">
            <p class="text-white" >Star Wars: Republic Commando is a tactical first-person shooter video game developed
                and published by LucasArts. It was released for the Xbox and Microsoft Windows in March 2005.[2] Set in
                the Star Wars Legends expanded universe, the game revolves around Delta Squad, a special ops unit within
                the Galactic Republic's Clone Army consisting of four genetically-enhanced clone troopers, referred to
                as "Clone/Republic Commandos". Throughout the single-player campaign, players assume the role of the
                squad's leader, RC-1138 ("Boss"), and complete various missions during the Clone Wars. Players can also
                indirectly control the actions of their squad mates RC-1262 ("Scorch"), RC-1140 ("Fixer"), and RC-1207
                ("Sev") by issuing different commands, which allow for certain situations to be approached in multiple
                ways </p>
            <p class="text-white">Release Date(s): February 28th, 2005</p>
        </div>
        <div class="col">
            <img src="images/Hulk.jpg" id="xbox" class="game" alt="The Incredible Hulk: Ultimate Destruction">
            <p class="text-white">TThe Incredible Hulk: Ultimate Destruction is a 2005 action-adventure video game
                developed by Radical Entertainment and published by Vivendi Universal Games (VU Games). The game is
                based on the Marvel Comics superhero Hulk and showcases an open world with destructible environments. A
                stand-alone sequel to the 2003 game Hulk, the narrative follows the Hulk as he is subconsciously
                influenced by his human alter-ego Bruce Banner and his psychotherapist Leonard Samson into assembling a
                device that will mend Banner's psyche and prevent the emergence of a darker personality. Aside from
                advancing the game's story, the player can engage in side missions and purchase new abilities for the
                Hulk to use. </p>
            <p class="text-white">Release Date(s): North America August 2005</p>
        </div>
        <div class="col">
            <img src="images/spidermanxbox.jpg" class="game" id="xbox" alt="Spider-man">
            <p class="text-white">Spider Man (also released as Spider-Man: The Movie) is a level based action adventure
                game based upon the Marvel Comics character, Spider-Man, and is directly based on the first feature film
                starring the eponymous character. It was developed by Treyarch and released in 2002 for PC and several
                other video game consoles. The game has many scenes, as well as villains from the comic books, that did
                not appear in the film. </p>
            <p class="text-white">Release Date(s): April 16th 2002</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="images/marvelnemesis.jpg" class="game" id="xbox" alt="Marvel Nemesis Rise of the imperfects">
            <p class="text-white">The video game is based on the Marvel comic book series with the same name, a 6-issue
                miniseries published from June to December 2005. The miniseries does not depict the events in the game
                or vice versa, and has a completely different story than the video game. There are even points in the
                video game story and the comic books that directly contradict each other. The comic does, however, star
                the same characters as the video game and introduces the EA characters with, aside from one or two minor
                details, the same background stories and powers. The EA characters are said to be part of the regular
                Marvel continuity but due to the game's poor response and the fact that they're owned by Electronic Arts,
                they have only appeared in the above-mentioned miniseries.</p>
            <p class="text-white">Release Date(s): September 20th, 2005 </p>
        </div>
        <div class="col">
            <img src="images/Haloxbox.jpg" class="game" id="xbox" alt="Halo Combat Evolved">
            <p class="text-white">Halo: Combat Evolved[b] is a 2001 first-person shooter game developed by Bungie and
                published by Microsoft Game Studios. It was released as a launch game for Microsoft's Xbox video game
                console on November 15, 2001. The game was ported to Microsoft Windows and Mac OS X in 2003. It was later
                released as a downloadable Xbox Original for the Xbox 360. Halo is set in the twenty-sixth century, with
                the player assuming the role of the Master Chief, a cybernetically enhanced supersoldier. The Chief is
                accompanied by Cortana, an artificial intelligence. Players battle aliens as they attempt to uncover the
                secrets of the eponymous Halo, a ring-shaped artificial world. Bungie began the development of what
                would eventually become Halo CE in 1997. Initially, the game was a real-time strategy game that morphed
                into a third-person shooter before becoming a first-person shooter. During development, Microsoft acquired
                Bungie and turned Halo into a launch game for its first video game console, the Xbox.
                Halo was a critical and commercial success and is often praised as one of the greatest video games ever
                made.

                Release Date(s): November 15th 2001   </p>
<!--            <p class="text-white">Release Date(s): November 15th 2001 </p>-->
        </div>
        <div class="col">
            <img src="images/Xmen.jpg" class="game" id="xbox" alt="Xmen">
            <p class="text-white">X-Men Legends is an action role-playing video game developed by Raven Software and
                published by Activision. It was released on the GameCube, PlayStation 2 and Xbox consoles in 2004. Barking
                Lizards Technologies developed the N-Gage port of the game, which was released in early 2005. Players can
                play as one of fifteen X-Men characters, with the ability to switch between four computer- or
                human-controlled characters at any time. X-Men Legends follows Alison Crestmere, a young mutant who has
                the ability to summon and control volcanic activity. As Alison is taught to control her powers at the
                X-Mansion, the X-Men are sent on several missions. Eventually the X-Men learn of Magneto's plan to cover
                the Earth in darkness from his base on Asteroid M. X-Men Legends received generally positive reviews
                from critics. The Xbox version was the best received, garnering aggregate scores of 83% and 82/100 on
                the review aggregating websites GameRankings and Metacritic respectively. Reviewers praised Raven's
                variation on cel-shaded graphics. Due to the success of the game a sequel was made,
                X-Men Legends II: Rise of Apocalypse. Within the Marvel Multiverse, the X-Men Legends universe is designated as Earth-7964.

                Release Date(s):January 27th, 2005</p>
            <p class="text-white">Release Date(s):January 27th, 2005 </p>
        </div>
    </div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>