body {
    background-color: powderblue;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: grey;
    padding: 10px 30px;
    border-radius: 10px;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}

.flip-card-inner:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin-right: 5px;
}

.card-img-top {
   max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.6);
}