.jumbotron {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,9,121,1) 55%, rgba(0,212,255,1) 100%);
}

h1 {
    color: silver;
}

#homeText {
    color: silver;
}

#homeBtnLabel {
    color: silver;
}

body {
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(171deg, rgba(0,0,0,1) 23%, rgba(58,9,121,1) 55%, rgba(201,0,255,1) 100%);
}

hr {
    background-color: silver;
    height: 2px;
}

.bubble {
    position: relative;
    background: #ffffff;
    color: #000000;
    font-family: Arial Black;
    font-size: 21px;
    line-height: 104px;
    box-shadow: 4px 5px 2px 0px #A3A3A3;
    text-align: center;
    width: 255px;
    height: 190px;
    border-radius: 16px;
    padding: 0px;
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 27px 24px;
    border-color: transparent transparent #ffffff transparent;
    top: 73%;
    left: -24px;
    margin-top: -13.5px;
}

.welcomeBubble {
    position: relative;
    background: #ffffff;
    color: #000000;
    font-family: Arial Black;
    font-size: 21px;
    line-height: 40px;
    box-shadow: 4px 5px 2px 0px #A3A3A3;
    text-align: center;
    width: 700px;
    height: 200px;
    border-radius: 16px;
    padding: 0px;
}
.welcomeBubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 24px 27px 0;
    border-color: transparent #ffffff transparent transparent;
    top: 73%;
    left: -24px;
    margin-top: -13.5px;
}

.homeMiku {
    margin-left: -285px;
    margin-top: -32px;
}

#miku {

    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

#mikuHanging {

    -webkit-animation:moverX 6.0s infinite alternate;

}

@-webkit-keyframes moverX {

    0% {
        transform: perspective(400px) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateY(180deg);
    }
}


