.jumbotron {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,9,121,1) 55%, rgba(0,212,255,1) 100%);
}

h1 {
    color: silver;
}

#homeText {
    color: silver;
}

#homeBtnLabel {
    color: silver;
}

body {
    background-image: url("../images/arcade.gif"), radial-gradient(circle at right top, #14aaf5 , #ff05b8);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

hr {
    background-color: silver;
    height: 2px;
}

h3 {
    color: deeppink;
}

.game{
    height: 300px;
    width: 200px;
}



